@import "../reindeer/styles.css";

/* set margin for main vertical layout */
.v-verticallayout-sample-main > div > div > div.v-verticallayout-margin {
	padding: 0px 40px 0px 40px;
}

/* header  */
.sample-main-header {
	background: url(mimes/be_powered.png) no-repeat;
	font-size: 15pt;
	padding-left: 200px;
	padding-top: 1em;
	color: #808080;
}

/* footer */
.sample-main-footer {
	padding: 2px 0px 2px 2px;
	color: #808080;
}
